
# ===============================================================
# Subject: SSH personal settings
# This section of ssh config settings for user only has been added from the dotfile project automatically.
Host *
    ServerAliveInterval 120
# ===============================================================

