
# ===============================================================
# Subject: SSH personal settings
# This section of ssh config settings for user only has been added from the dotfile project automatically.
Host *
	User ec2-user
    ServerAliveInterval 120
	IdentityFile {The key path}

Host github.com
	Hostname ssh.github.com
	Port 443
	IdentityFile {The key path}
# ===============================================================

